<ion-view view-title="Welcome">
<ion-pane class="home">
		<ion-content>
			<div class="row row-center">
			<a class="col col-center anchor" href="#/complaint">
				<img ng-src="img/complaint2.png">
				<h5>Register Complaint</h5>
			</a>
			<a class="col" href="#/feedback">
				<img ng-src="img/suggestion2.png">
				<h5>Give us Feedback</h5>
			</a>
			</div>
			<div class="row row-center">
			<a class="col col-center anchor" href="#/suggestion">
				<img ng-src="img/feedback2.png">
				<h5>Suggestions</h5>
			</a>
			</div>			
		</ion-content>		
	</ion-pane>
</ion-view>
